version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: hospital_frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:4000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  backend:
    build: ./backend
    container_name: hospital_backend
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=postgres://postgres:senha@db:5432/hospital
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: sh -c "npm install && npm run dev"

  db:
    image: postgres:15
    container_name: hospital_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: hospital
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
